.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35vh;
  background-color: hsl(168, 54%, 61%);
   
}

.footer__logo{
    width: 124px;
    height: auto;
    margin-top: 80px;
  
}

.footer__links{
  display: flex;
  gap: 30px;
  list-style-type: none;
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  font-weight: 600;
 color: hsl(168, 34%, 41%);
 font-size: 18px;
}

.footer__socials{
  display: flex;
  gap: 30px;
  list-style-type: none;
 color: hsl(168, 34%, 41%);
}