.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px 0 30px;
}

.nav__logo{
    width:124px ;
    height: auto;
}

.nav__links{
    display: flex;
    column-gap: 50px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav__link{
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}